{
  "presets": [[
    "@babel/preset-env", 
    {
      "loose": false,
      "modules": false,
      "useBuiltIns": "usage",
      "corejs": 3
    }
  ]],
  /* "plugins": [
    [
      "import",
      {
        "libraryName": "iwei-ui",
        // "libraryDirectory": "lib",   // default: lib
        "style": true
      }
    ]
  ], */
  "env": {
    "development":{
      "presets": ["@vue/app"]
    },
    "utils": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": "commonjs"
          }
        ]
      ],
      "plugins": [
        ["module-resolver", {
          "root": ["iwei-ui"],
          "alias": {
            "iwei-ui/src": "iwei-ui/lib"
          }
        }]
      ]
    },
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
