{
  "presets": ["@vue/app", ["@babel/preset-env", { "modules": false }]],
  "plugins": [
    [
      "import",
      {
        "libraryName": "demo-vuecli3-ui",
        "style": true
      }
    ]
  ]
}
